:root {
    --clr-1: #015249;
    --clr-2: #57BC90;
    --clr-3: #77C9D4;
    --clr-4: #A5A5AF;
    --clr-5: #333;
    --clr-6: #f4f6f3;

}

html, body {
    font-family: 'Archivo';
    margin: 0;
    background-color: var(--clr-6);
    color: var(--clr-5);
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat' ;
    text-align: center;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
}

p {
    line-height: 1.6em;
    letter-spacing: 0.03em;
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1300px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 60%;
    text-align: justify;
}

#header-nav{
    display: flex;
    justify-content: center;
    background-color: var(--clr-3);
    border-bottom: 3px dashed var(--clr-6);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 12px;
}

.nav-menu .logo {
    padding: 0 30px;
}

li {
    list-style: none;
    padding: 0 10px;
}

.nav-menu a {
    list-style: none;
    color: var(--clr-6);
}

.nav-menu a:hover {
    color: var(--clr-1);
}

.banner {
    height: 670px;
    background-image: url('assets/img/zahrada-banner.jpg');
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.banner-window {
    height: 40%;
    width: 60%;
    padding: 3em 1.5em;
    background: rgba(255, 255, 255, 0.65);
    text-align: center;
    border-radius: 1em;
}
.banner h1 {
    padding-top: 0.5em;
}
.banner p {
font-size: 25px;
padding-top: 2em;
}

#home-about, #home-services {
    border-bottom: 3px dashed var(--clr-2);
    padding-bottom: 5em;
}

#home-about .icons {
    display: flex;
    justify-content: center;
    height: 10em;
    padding-top: 1em;
    align-items: center;
}

#home-about .icons img {
    padding: 0 50px;
}

#home-about .window-left {
    padding: 40px;
    background-color: color-mix(in srgb, var(--clr-2), transparent 90%);
    box-shadow: 0 0 10px -4px var(--clr-4);
}
#home-about .window-left h2{
    font-size: 30px;
    color: var(--clr-1);
}
#home-about .window-left ul{
    margin: 20px auto;
}

#home-about .window-left li{
    line-height: 30px;
    font-weight: bold;
    list-style-type: disc;
    color: var(--clr-1)
}

#home-about button{
    background-color: var(--clr-1);
    margin: auto;
    padding: 10px 30px;
    color: var(--clr-6);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px -4px var(--clr-4);
    margin-top: 15px;
    width: 100%;
}

#home-about button:hover{
    background-color: var(--clr-2);
}

#home-about .column h3{
    text-align: start;
    font-size: 25px;
}

#home-services {
    padding-top:3em;

}

.theme-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme-nav div {
    width: 25em;
    height: 25em;
    margin: 17px;
    filter: brightness(0.9);
    background-size: cover;
    display: flex;
    align-items: end;
}

.theme-nav div:hover {
    filter: brightness(1.15);
}

.theme-nav h4 {
    font-size: 25px;
    color: var(--clr-5);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    width: 100%;
    text-align: center;
}

#nav-services {
    background-image: url(assets/img/prelink-udrzba.avif);
    background-position: right;
}

#nav-public-spaces {
    background-image: url(assets/img/park-prelink.jpg);
}

#nav-design {
    background-image: url(assets/img/prelink-projekt.jpeg);
}

#nav-realization {
    background-image: url(assets/img/prelink-realizacie.jpg);
}

#footer {
    height: 300px;
    background-color: var(--clr-3);
}
